form action="/showlogin" method="POST" class="registerclass"
    input type="text" name="username" placeholder="Username" id="writeusrnm" class="registerChild"
    input type="password" name="password" placeholder="Password" id="writepswrd" class="registerChild"
    input type="submit" value="login" id="submit" class="registerChild"