div.wrapper
        main 
                p Hej och välkommen till Hugos Studenthemsida, Vänligen hjälp oss att bestämma maträtter för er besökare.
                a href="/food" Klicka här för maträtter
                        